Flask==3.0.0
Flask-Cors==4.0.0
PyPDF2==3.0.1
aiohttp  # Add the version if specific one is needed
langchain==0.0.354  # If this is a package available on PyPI
openai==1.6.1
uvicorn==0.25.0
Werkzeug  # Add the version if specific one is needed
python-docx==0.8.11
fastapi===0.108.0
temp===2020.7.2
firebase-admin===6.3.0
upstash-redis===1.0.0