Flask==3.0.0
Flask-Cors==4.0.0
PyPDF2==3.0.1
aiohttp  # Add the version if specific one is needed
langchain==0.0.354  # If this is a package available on PyPI
openai==1.6.1
uvicorn==0.25.0
Werkzeug  # Add the version if specific one is needed
docx==0.2.4  # If this refers to python-docx
